<div class="d-flex justify-content-center text-center mt-4">
	<p>
		<b>
			Please RSVP with your dinner selection, yoga participation, and whether you’ll be whitewater tubing or ziplining by
			<u>March 12, 2025</u>.
			<br>
			HF Adventure Center cabins are on hold until
			<u>March 30, 2025</u>.
			<br>
			<br>
			Thank you!
		</b>
	</p>
</div>


<div class="wrapper">

	<div class="box">
		<div class="title">Dinner</div>
		<p>
			Choice of main course: vegan, fish, or meat.
			<br>
			Please make us aware of any allergies, dietary preferences or restrictions.
			<br>
			aujean.alquist@gmail.com
			<br><br>
			<i>Saturday July 12, 2025</i><br>
			Ceremony at 3:00 pm at Harpers Ferry Brewing<br>
			Happy hour, dinner, and dancing to follow

		</p>
	</div>

	<div class="box">
		<div class="title">Outdoor Yoga</div>
		<p>
			<i>Saturday July 12, 2025</i>
			<br>
			9:00-10:00 am at Harpers Ferry Brewery
			<br>
			Please meet at 8:50am on the
			<a data-bs-toggle="modal" data-bs-target="#mapModal" style="cursor:pointer;">Sunset Deck</a>
			<br>
			If you have one, please bring your own yoga mat.
		</p>
	</div>

	<div class="box">
		<div class="title">Activities</div>
		<p>
			Please select: Whitewater Tubing, Ziplining or pool day at Dan & Diane’s
			<br>
			<i>Sunday, July 13, 2025</i>
			<br>
			Please meet at 10:30 am at HF Adventure Center, next to main office (Reservation at 11am)
		</p>
	</div>

	<div class="box">
		<div class="title">Accommodation</div>
		<p>
			Please let us know where you’re staying!
			<br><br>

			Harpers Ferry Adventure Center:<br>
			<ul>
				<li>Small cabin ($139/night)</li>
				<li>Large cabin ($149/night)</li>
				<li>Campsite (on us &#9786;)</li>
			</ul>
			<br>
			Clarion Inn ($144/night)
			<br>
			<br>
			<br>
			Other

		</p>
	</div>

</div>
