<div class="wrapper">

	<div class="box">
		<div class="title">Details diner</div>
		<p>zopritghjzerogh</p>
	</div>

	<div class="box">
		<div class="title">Details activities</div>
		<p>zopritghjzerogh</p>
	</div>

	<div class="box">
		<div class="title">Details yoga</div>
		<p>zopritghjzerogh</p>
	</div>

	<div class="box">
		<div class="title">Details Locations</div>
		<p>zopritghjzerogh</p>
	</div>

</div>
