<div class="d-flex justify-content-center text-center mt-4">
	<p>
		{% trans %}details_1{% endtrans %}
	</p>
</div>


<div class="wrapper">

	<div class="box">
		<div class="title">{% trans %}dinner{% endtrans %}</div>
		<p>{% trans %}details_2{% endtrans %}</p>
	</div>

	<div class="box">
		<div class="title">{% trans %}outdoor_yoga{% endtrans %}</div>
		<p>{% trans %}details_3{% endtrans %}</p>
	</div>

	<div class="box">
		<div class="title">{% trans %}activities{% endtrans %}</div>
		<p>{% trans %}details_4{% endtrans %}</p>
	</div>

	<div class="box">
		<div class="title">{% trans %}accomodations{% endtrans %}</div>
		<p>{% trans %}details_5{% endtrans %}</p>
	</div>

</div>
