<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="map" class="d-flex justify-content-center" style="">
					<div style="max-width:800px">
						<img src="{{ asset('images/map.png') }}" class="img-fluid">
					</div>
				</div>
				<p>
					<b>Key:</b>
					<br>
					<b>Pink circle:</b>
					Small cabins (numbers 1-6, sleeps 4 people each) / mountain top tent campsite #6 / afterparty / breakfast buffet
					<br>
					<b>Purple circle:</b>
					Meeting points for whitewater tubing and ziplining on Sunday, July 13 at 10:30 am<br>
					<b>Orange circle:</b>
					Large cabins (numbers 7-10, sleeps 5 people each)<br>
					<b>Green circle:</b>
					Wedding ceremony and reception location, Saturday July 12 at 3 pm<br>
					<b>Blue circle:</b>
					Yoga location for Saturday morning, July 12 at 9:00 am
				</p>
			</div>
		</div>
	</div>
</div>
