{% extends "base.html.twig" %}
{% block body %}
	<section>
		<h1>{{ title }}</h1>

		<div class="events">
			<div class="line">
				<div class="day">
					Friday
				</div>
				<ul class="details">
					<li>
						Guests check into
						<a href="https://harpersferryadventurecenter.com/camping-cabins/" target="_blank">
							HF Adventure center
						</a>
						(cabins or campsite),
						<a href="https://www.clarionhotelharpersferry.com/" target="_blank">
							Clarion hotel
						</a>
						, or bnb
					</li>
					<li>
						Rehearsal for ceremony at HF Adventure Center
					</li>
					<li>
						Meet and Greet at Mom and Dad’s (crab feast, Baltimore vibes, casual)
					</li>
					<li>
						Schedule shuttle to and from mom and dad’s / HF Adv Ctr, hotel, bnbs)
					</li>
				</ul>
			</div>
			<div class="line">
				<div class="day">
					Saturday

				</div>
				<ul class="details">
					<li>
						8:00-9:30 - Breakfast buffet on-site (Bolivar bread?)
					</li>
					<li>
						9:30-11:30 - choose your own adventure - explore downtown (shuttle bus), on-site yoga… what else?
					</li>
					<li>
						11:30/12-1:00 - lunch… where? Downtown resto? Reservation needed. Brewery area will be in the process of getting set up for reception at this time.
					</li>
					<li>
						1:15 - shuttle back to site (HFAC, hotel, bnbs)
					</li>
					<li>
						1:30-2:30 - getting ready *where for bride and friends (spot reserved on site) and groom and friends?
																														                                    Shuttle bus schedule for hotel and bnbs***
					</li>
					<li>
						3:00-3:45- ceremony on site (under pergola in front of views)
					</li>
					<li>
						4:00-5:30 - cocktail hour (charcuterie table contact from Tess and Izzy… must decide other hors d’oeuvres and drinks)
					</li>
					<li>
						5:30-7:00 - dinner, family style (must decide menu- marriage between French and American cuisine favorites)
					</li>
					<li>
						7:00 7:30- speeches
					</li>
					<li>
						7:30-8:00 - first dances
					</li>
					<li>
						8:00-9:00 - concert, The Woodshedders
					</li>
					<li>
						9:00-midnight + - party time (dj? Or playlist?)
					</li>
				</ul>
			</div>
			<div class="line">
				<div class="day">
					Sunday
				</div>
				<ul class="details">
					<li>9:00-10:30 - breakfast buffet on site</li>
					<li>11:00-1:30 - choose your own adventure (tubing, rafting, zip-lining, hike to MD heights)</li>
					<li>2:00 - meet at Guide House Grill for lunch (depending on number of ppl, reserve whole place?)</li>
					<li>4:30 - say goodbyes?</li>
				</ul>
			</div>
		</div>
	</section>
{% endblock %}
