{% extends "base.html.twig" %}
{% block body %}
	<section>
		<h1>{{ title }}</h1>

		<div class="content">
			<h2>Friday July 11, 2025</h2>

			<p>Choose your own adventure</p>

			<p>We recommend:</p>

			<ul class="list">
				<li>Check-into accommodations: HF Adventure center (cabins or campsite), Clarion Inn, or bnb in Harpers Ferry</li>
				<li>Explore downtown Harpers Ferry, hike Maryland Heights</li>
				<li>Try a local restaurant</li>
				<li>Live music at The Barn or beers at Harpers Ferry Brewery</li>
			</ul>


			<p>
				For those who wish to visit Harpers Ferry National Historical Park (“downtown”): Parking is at 171 Shoreline Drive, 
																Harpers Ferry, WV 25425 and from there you will take a shuttle bus downtown.
			</p>

			<p>
				To access Maryland Heights hiking trail:</p>
			<ul class="list">
				<li>go to downtown HF</li>
				<li>
					> Cross the bridge over the confluence</li>
				<li>
					> turn left once you go down the stairs from the bridge</li>
				<li>
					> walk the C&O canal path approx. 1km*</li>
				<li>
					> turn right towards the mountain, you will see a sign with a map of Maryland Heights</li>
				<li>
					> follow the trail up to the overlook</li>
			</ul>

			<h3>Restaurant recommendations:</h3>

			<ul class="list">
				<li>
					<a href="https://kelleyfarmkitchen.com/" target="_blank">Vegan - Kelly Farm Kitchen</a>
				</li>
				<li>
					<a href="https://www.snallygasterscafe.com/" target="_blank">Snallygaster’s café & wine bar</a>
				</li>
				<li>
					<a href="https://rabbitholewv.com/" target="_blank">The Rabbit Hole Gastropub</a>
				</li>
				<li>
					Guide House Grill food truck (on-site at HF Adventure Center)
				</li>
			</ul>

			<h3>Relevant links</h3>

			<ul class="list">
				<li>
					<a href="https://www.nps.gov/hafe/index.htm" target="_blank">Harpers Ferry National Historical Park</a>
				</li>
				<li>
					<a href="https://www.alltrails.com/trail/us/west-virginia/maryland-heights-trails" target="_blank">Maryland Heights hike</a>
				</li>
				<li>
					<a href="https://www.barnofharpersferry.com/" target="_blank">The Barn (bar and live music venue)</a>
				</li>
				<li>
					<a href="https://harpersferrybrewing.com/" target="_blank">Harpers Ferry Brewing</a>
				</li>
			</ul>


			<h2>Saturday July 12, 2025</h2>

			<ul class="list">
				<li>

					9:30-10:30: Outdoor yoga at HF Adventure Center (everyone welcome! RSVP here)
								Meet at ***
				</li>

				<li>
					11:00-1:00: Brunch buffet on-site for guests camping at HF Adventure Center 
										Location:
				</li>
				<li>
					1:00: Getting ready
										Bridal party: please meet at location*
										Groom party: please meet at location*
				</li>
				<li>

					3:00-3:45: Wedding ceremony at HF Brewing
				</li>
				<li>
					4:00-5:30: Cocktail hour/Apéro
				</li>
				<li>
					5:30-7:00: Family style dinner (please confirm menu selection in RSVP)
				</li>
				<li>
					7:00 7:30: speeches
				</li>
				<li>
					7:30-8:00: first dances
				</li>
				<li>
					8:00-10:00: concert, The Woodshedders
				</li>
				<li>
					10 pm +: After party at cabin area
				</li>
			</ul>
			<h2>Sunday July 13, 2025</h2>

			<p>If checking out on this day, check-out time is 11am</p>

				<ul class="list">
				<li>
					9:30-11:00: Breakfast buffet on-site for those camping
				</li>
				<li>
					11:30: River tubing or zip lining (Please select your choice on RSVP)
					See details for each activity <a href="https://harpersferryadventurecenter.com/adventures/" target="_blank">here</a>. <br>
					If you’re going on the river, you will need to wear: <br>
					Water shoes (that won’t fall off, not flip flops)<br>
					Bathing suit<br>
					Hat/Sunglasses/Sun protection<br>
					You might want to bring:<br>
					Waterproof bag for wallet, phone, lighter and other things... <br>
					HF Adventure Center has a key check to keep your keys safe till your return.<br>
					Keep a towel and a dry change of clothes on-site for when you return<br><br>
				
					** We will provide floating coolers with water, beer, and other drinks to enjoy during the float!<br><br>
					
					After tubing/zip lining, there is a food truck at the brewery where you can stop for lunch.
					Onwards: A relaxing afternoon… have a nap or meet at the brewery to continue festivities
				</li>
				<li>
					7:00: Dinner - BBQ at cabin area
				</li>
			</ul>
												
											
			<h2>Monday July 14, 2025</h2>
			11am check-out

		</div>
	</section>
{% endblock %}
