{% extends "base.html.twig" %}
{% block body %}
	<section>
		<div class="title-img">
			<img src="{{ asset('images/flowers/black_eyed_susan_bouquet.png') }}" alt="">
		</div>

		<h1>{{ title|trans }}</h1>

		<div class="content">


			<div
				class="accordion" id="accordionExample">
				{# FRIDAY START #}
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<b>{% trans %}friday{% endtrans %}</b>
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p>
								<i>{{ choose|trans }}</i>
							</p>
							<p>{% trans %}itinerary_1{% endtrans %}:</p>
							<ul>
								{% trans %}itinerary_2{% endtrans %}
							</ul>

							<p>{% trans %}itinerary_3{% endtrans %}</p>
							<p>{% trans %}itinerary_4{% endtrans %}</p>
							<p>{% trans %}itinerary_5{% endtrans %}</p>

							<i>{% trans %}itinerary_6{% endtrans %}:</i>
							<br>
							<a href="https://kelleyfarmkitchen.com/" target="_blank">Vegan - Kelly Farm Kitchen</a>
							<br>
							<a href="https://www.snallygasterscafe.com/">Snallygaster’s café & wine bar</a>
							<br>
							<a href="https://rabbitholewv.com/">The Rabbit Hole Gastropub</a>
							<br>
							Guide House Grill food truck (on-site at HF Brewery/Adventure Center)
							<br>
							<br>
							<i>{% trans %}itinerary_7{% endtrans %}:</i>
							<br>
							<a href="https://www.nps.gov/hafe/index.htm">Harpers Ferry National Historical Park</a>
							<br>
							<a href="https://www.alltrails.com/trail/us/west-virginia/maryland-heights-trails">Maryland Heights hike</a>
							<br>
							<a href="https://www.barnofharpersferry.com/">The Barn (bar and live music venue)</a>
							<br>
							<a href="https://harpersferrybrewing.com/">Harpers Ferry Brewing</a>
							<br>
							<br>
							<a data-bs-toggle="modal" data-bs-target="#mapModal" style="cursor:pointer;">{% trans %}itinerary_8{% endtrans %}</a>
						</div>
					</div>
				</div>
				{# FRIDAY END #}

				{# SATURDAY START #}
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<b>{% trans %}saturday{% endtrans %}</b>
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">

							<p>
								<i>{% trans %}itinerary_9{% endtrans %}</i>
							</p>
							<p>{% trans %}itinerary_10{% endtrans %}</p>
							<p>{% trans %}itinerary_11{% endtrans %}</p>
							<p>{% trans %}itinerary_12{% endtrans %}</p>
							<p>{% trans %}itinerary_13{% endtrans %}</p>
							<p>{% trans %}itinerary_14{% endtrans %}</p>

							{# TODO : !! Shuttle schedule: #}
							<a data-bs-toggle="modal" data-bs-target="#mapModal" style="cursor:pointer;">{% trans %}itinerary_8{% endtrans %}</a>
						</div>
					</div>
				</div>
				{# SATURDAY END #}

				{# SUNDAY START #}
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							<b>{% trans %}sunday{% endtrans %}</b>
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">

							<p>{% trans %}itinerary_15{% endtrans %}</p>
							<p>{% trans %}itinerary_16{% endtrans %}</p>
							<p>{% trans %}itinerary_17{% endtrans %}</p>
								
							{% trans %}itinerary_18{% endtrans %}
							<br>
							<a href="https://harpersferryadventurecenter.com/know-before-you-go/" taget="_blank">{% trans %}itinerary_19{% endtrans %}</a>
							<br>
							<br>

							<i class="text-right">
								{% trans %}itinerary_20{% endtrans %}
							</i>
							<br>
							<br>
							<p>{% trans %}itinerary_21{% endtrans %}</p>
							<p>{% trans %}itinerary_22{% endtrans %}</p>

							<a data-bs-toggle="modal" data-bs-target="#mapModal" style="cursor:pointer;">{% trans %}itinerary_8{% endtrans %}</a>

						</div>
					</div>
				</div>
				{# SUNDAY END #}
			</div>
		</div>
	</section>


	<!-- Modals -->
	<div class="modal fade" id="tubingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">
						<b>Whitewater tubing:</b>
					</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						<i>Depending on river conditions, your float will take approximately 1.5 to 2 hours.</i>
					</p>

					<p>Guests must check-in no later than 30 minutes prior to their scheduled time. (Reservation 11am /
						<u>check-in next to main office at 10:30 am</u>)</p>

					<b>Requirements:</b>
					<ul>
						<li>Whitewater tubing guests must be excellent swimmers and fairly physically fit.</li>
						<li>Kids must be at least 12 years old.
						</li>
						<li>Anyone under 18 must be accompanied by an adult.</li>
						<li>All guests must complete the liability waiver.</li>
					</ul>

					<b>What to wear:</b>
					<br>

					<ul>
						<li>Water shoes (that won’t fall off, no flip flops)</li>
						<li>Bathing suit</li>
						<li>Hat/Sunglasses/Sun protection</li>
						<li>You might want to bring: Waterproof bag for wallet, phone, lighter and other things.</li>
					</ul>

					<ul>

						<li>HF Adventure Center has a free key check to keep your keys safe till your return.

						</li>
						<li>They also have a locker you may rent to keep valuables in.</li>
						<li>Keep a towel and a dry change of clothes on-site for when you return</li>
					</ul>
					<P>We will provide floating coolers with water, beer, and other drinks to enjoy during the float!</P>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="zipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">
						<b>Ziplining:</b>
					</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						<i>Your canopy tour will last between 1.5 and 2 hours.</i>
					</p>
					<p>Guests must check-in no later than 30 minutes prior to their scheduled time. (Reservation 11am /
						<u>check-in next to main office at 10:30 am</u>)</p>
					<b>Requirements:</b>
					<br>
					<ul>
						<li>
							Kids must be at least 7 years old and 70+ lbs.
						</li>
						<li>Anyone under 18 must be accompanied by an adult.</li>
						<li>Max weight is 250 pounds.</li>
						<li>All guests must complete the liability waiver
						</li>
					</ul>


					<b>What to wear</b>
					<br>
					<ul>
						<li>
							Sneakers or closed-toe shoes required.
						</li>
						<li>
							Avoid  loose clothing and tie hair back.
						</li>
						<li>
							Athletic wear advised.
						</li>
					</ul>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VoWeAk4FZB4?si=REPN7RwW0XqpPo9_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
