{% extends "base.html.twig" %}
{% block body %}
	<section>
		<div class="title-img">
			<img src="{{ asset('images/flowers/black_eyed_susan_bouquet.png') }}" alt="">
		</div>

		<h1>{{ title|trans }}</h1>

		<div class="content">


			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<b>Friday July 11, 2025</b>
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p>{{ choose|trans }}</p>
							<p>{% trans %}itinerary_1{% endtrans %}</p>
							<ul>
								<li>Check-into accommodations: HF Adventure center (cabins or campsite), Clarion Inn, or other bnb in Harpers Ferry or Charles Town</li>
								<li>Explore downtown Harpers Ferry, hike Maryland Heights</li>
								<li>Try a local restaurant</li>
								<li>Live music at The Barn or beers at Harpers Ferry Brewery</li>
							</ul>

							<p>For those who wish to visit Harpers Ferry National Historical Park (“downtown”): Parking is at
								<b>171 Shoreline Drive, Harpers Ferry, WV 25425</b>
								and from there you will take a shuttle bus downtown.
							</p>

							<p>To access Maryland Heights hiking trail: go to downtown HF > Cross the walking bridge over the confluence > turn left once you go down the stairs from the bridge > walk the C&O canal path approx. 1km* > turn right towards the mountain, you will see a sign with a map of Maryland Heights > follow the trail up to the overlook</p>

							<i>Restaurant recommendations:</i>
							<br>
							<a href="https://kelleyfarmkitchen.com/" target="_blank">Vegan - Kelly Farm Kitchen</a>
							<br>
							<a href="https://www.snallygasterscafe.com/">Snallygaster’s café & wine bar</a>
							<br>
							<a href="https://rabbitholewv.com/">The Rabbit Hole Gastropub</a>
							<br>
							Guide House Grill food truck (on-site at HF Brewery/Adventure Center)
							<br>
							<br>
							<i>Relevant links:</i>
							<br>
							<a href="https://www.nps.gov/hafe/index.htm">Harpers Ferry National Historical Park</a>
							<br>
							<a href="https://www.alltrails.com/trail/us/west-virginia/maryland-heights-trails">Maryland Heights hike</a>
							<br>
							<a href="https://www.barnofharpersferry.com/">The Barn (bar and live music venue)</a>
							<br>
							<a href="https://harpersferrybrewing.com/">Harpers Ferry Brewing</a>
							<br>
							<a data-bs-toggle="modal" data-bs-target="#mapModal" style="cursor:pointer;">map</a>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							<b>Saturday July 12, 2025</b>
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">

							<p>Transportation will be provided to and from the wedding for those staying off-site.
							</p>

							<p>
								<b>8:30-11:30:</b>
								Breakfast buffet on-site for guests camping at HF Adventure Center
								<br>
								Location: Picnic tables at cabins 1-6</p>


							<p>
								<b>9:00-10:00:</b>
								Outdoor yoga at HF Adventure Center (everyone welcome! RSVP required)
								<br>
								Meet at Harpers Ferry Brewery “Sunset Deck” at 8:50am
							</p>


							<p>
								<b>1:00:</b>
								Bridal and groom’s parties, getting ready
								<br>
								Bridal party: please meet at location*
								<br>
								Groom party: please meet at location*</p>

							<p>
								<b>3:00-10:00:</b>
								Wedding ceremony and reception at Harpers Ferry Brewing</p>

							<p>
								<b>10 pm onward:</b>
								After party at cabins 1-6
							</p>

							TODO : !! Shuttle schedule:
						<a data-bs-toggle="modal" data-bs-target="#mapModal" style="cursor:pointer;">map</a>

						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							<b>Sunday July 13, 2025</b>
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p>
								<i>If checking out on this day, check-out time is 11am for those camping or in cabins, and also for the Clarion Inn</i>
							</p>

							<p>
								<b>8:30-10:30:</b>
								Breakfast buffet on-site for those camping or in cabins
							</p>
							<p>
								<b>10:30:</b>
								Check-in for


								<u>
									<a data-bs-toggle="modal" data-bs-target="#tubingModal" style="cursor:pointer;">
										whitewater tubing
									</a>
								</u>

								or
								<u>
									<a data-bs-toggle="modal" data-bs-target="#zipModal" style="cursor:pointer;">
										zip lining
									</a>
								</u>
								next to main office at Harpers Ferry Adventure Center (Please select your choice of activity on RSVP)
							</p>

							See more details for each activity
							<a href="https://harpersferryadventurecenter.com/adventures/" target="_blank">here</a>
							<br>
							<a href="https://harpersferryadventurecenter.com/know-before-you-go/" taget="_blank">Activity FAQ</a>
							<br>
							<br>

							<i class="text-right">
								For those with kids younger than 7 years old who cannot go on the river or zipline, the parents of the bride invite you to their home to swim in the pool !
								<br>
								Parental supervision required.
							</i>
							<br>
							<br>
							<p>After tubing/ziplining, there is a food truck (Guide House Grill) at the brewery/adventure center where you can stop for lunch.</p>
							<p>For those staying until Monday: we will have a BBQ at 7:00 pm at the cabin area.</p>
							<a data-bs-toggle="modal" data-bs-target="#mapModal" style="cursor:pointer;">map</a>
						</div>
					</div>
				</div>
			</div>
			{{ include('pages/_map.html.twig') }}

		</div>
	</section>


	<!-- Modals -->
	<div class="modal fade" id="tubingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">
						<b>Whitewater tubing:</b>
					</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						<i>Depending on river conditions, your float will take approximately 1.5 to 2 hours.</i>
					</p>

					<p>Guests must check-in no later than 30 minutes prior to their scheduled time. (Reservation 11am /
						<u>check-in next to main office at 10:30 am</u>)</p>

					<b>Requirements:</b>
					<ul>
						<li>Whitewater tubing guests must be excellent swimmers and fairly physically fit.</li>
						<li>Kids must be at least 12 years old.
						</li>
						<li>Anyone under 18 must be accompanied by an adult.</li>
						<li>All guests must complete the liability waiver.</li>
					</ul>

					<b>What to wear:</b>
					<br>

					<ul>
						<li>Water shoes (that won’t fall off, no flip flops)</li>
						<li>Bathing suit</li>
						<li>Hat/Sunglasses/Sun protection</li>
						<li>You might want to bring: Waterproof bag for wallet, phone, lighter and other things.</li>
					</ul>

					<ul>

						<li>HF Adventure Center has a free key check to keep your keys safe till your return.

						</li>
						<li>They also have a locker you may rent to keep valuables in.</li>
						<li>Keep a towel and a dry change of clothes on-site for when you return</li>
					</ul>
					<P>We will provide floating coolers with water, beer, and other drinks to enjoy during the float!</P>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="zipModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">
						<b>Ziplining:</b>
					</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p>
						<i>Your canopy tour will last between 1.5 and 2 hours.</i>
					</p>
					<p>Guests must check-in no later than 30 minutes prior to their scheduled time. (Reservation 11am /
						<u>check-in next to main office at 10:30 am</u>)</p>
					<b>Requirements:</b>
					<br>
					<ul>
						<li>
							Kids must be at least 7 years old and 70+ lbs.
						</li>
						<li>Anyone under 18 must be accompanied by an adult.</li>
						<li>Max weight is 250 pounds.</li>
						<li>All guests must complete the liability waiver
						</li>
					</ul>


					<b>What to wear</b>
					<br>
					<ul>
						<li>
							Sneakers or closed-toe shoes required.
						</li>
						<li>
							Avoid  loose clothing and tie hair back.
						</li>
						<li>
							Athletic wear advised.
						</li>
					</ul>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/VoWeAk4FZB4?si=REPN7RwW0XqpPo9_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
