{% extends "base.html.twig" %}
{% block body %}
	<section>
		<div class="title-img">
			<img src="{{ asset('images/flowers/black_eyed_susan_bouquet.png') }}" alt="">
		</div>

		<h1>{{ title|trans }}</h1>
		<div class="content text-center">
			<p>
				{% trans %}registry_content{% endtrans %}
			</p>
			<div class="d-flex justify-content-center m-2">


				<a href="https://www.milleetunelistes.fr/liste/annie-thomas" class="box-link" target="_blank">
					Our registry
				</a>

			</div>
				<div class="text-center">
					Annie Alquist and Thomas Aujean
					<br>
					101 Quai Louis Ferber<br>
					94360 Bry Sur Marne
					<br>
					France
				</div>
		</div>
	</section>
{% endblock %}
