{% extends "base.html.twig" %}
{% block body %}
<section>
<h1>{{ title }}</h1>
<div class="" style="display:flex; justify-content:center;">


	<a href="https://www.milleetunelistes.fr/" class="box" target="_blank">
	Our registry
	</a>

</div>
</section>
{% endblock %}
