{% extends "base.html.twig" %}
{% block body %}
	<section>
		<h1>{{ title }}</h1>
		<ul>
			Airports
			<li>
				DULLES
			</li>
			<li>
				BWI
			</li>
			<li>
				NEw York
			</li>
			<li>
				Raegan (TBD)
			</li>
		</ul>

		From then =>
		<br>

		<ul>
			<li>Rent a car</li>
			<li>take the train
			</li>
			<li>Why not the bus ?</li>
		</ul>

<p>Ttransportation will be provided fro your logement to the ceremony (if in accomodations we advise .. rephrase)</p>
	</section>
{% endblock %}
