{% extends "base.html.twig" %}
{% block body %}
	<section class="main-section">
		<h1>{{ title }}</h1>
		<div class="content">

			<ul class="list">
				<li>
					<div class="icon">
						<i class="fa-solid fa-plane fa-2x"></i>
					</div>
					Closest international airport: Washington Dulles (IAD)
												40 minute drive to Harpers Ferry
												Dulles airport rental cars: https://www.flydulles.com/parking-transportation/rental-cars
				</li>
				<li>
					<div class="icon">
						<i class="fa-solid fa-train fa-2x"></i>
					</div>
					Amtrak train station: Harpers Ferry (HFY)
												Tickets: https://www.amtrak.com/tickets-reservations
				</li>
				<li>
					<div class="icon">
						<i class="fa-solid fa-car fa-2x"></i>
					</div>
					Rental cars:
													Enterprise Rent-A-Car (10 minute drive from Harpers Ferry)
													765 E Washington St, Charles Town, WV 25414, United States
													https://www.enterprise.com/en/car-rental-locations/us/wv/charles-town-162n.html?mcid=yext:245709
				</li>
				<li>

					<div class="icon">
						<i class="fa-solid fa-house fa-2x"></i>
					</div>
					Important Addresses:
													Wedding Ceremony + Reception / Camping + Cabins / Tubing + Ziplining
													Harpers Ferry Brewing + Adventure Center
													37410 Adventure Center Ln, Purcellville, VA 20132, United States
													https://harpersferryadventurecenter.com/?utm_source=googlelocallistings&utm_medium=organic
													
													Clarion Inn
													4328 William L Wilson Fwy, Harpers Ferry, WV 25425, United States
													https://www.choicehotels.com/west-virginia/harpers-ferry/clarion-hotels/wv078?mc=llgoxxpx
													
													Dan & Diane Alquist’s home
													361 Pointfield Drive, Harpers Ferry, WV 25425, United States
				</li>
				<li>

					Other info:
					<div class="icon">
						<i class="fa-solid fa-bus fa-2x"></i>
					</div>
					A transportation shuttle will be provided to and from the wedding and the Clarion Inn on July 12th 2025.

					<div class="icon">
						<i class="fa-solid fa-triangle-exclamation fa-2x"></i>
					</div>
					Attention: The closest “larger town” near Harpers Ferry is Charles TOWN, West Virginia… not to be confused with Charleston, West Virginia (our capital city in southern WV).
				</li>
			</ul>
		</div>
	</section>
{% endblock %}
