@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@font-face {
    font-family: 'Viora';
    src: url('../fonts/Viora.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {    
    font-family: 'Swingly';
    src: url('../fonts/Swingly.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --dark-blue: #2b5daa;
    --light-blue: #abdcdd;
    --dark-green: #868a48;
}


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    display: flex;
    flex-direction: column;
    font-family: "Swingly", sans-serif;
    font-size: 18px;
    flex: 1;

    & h1 {
        text-align: center;
        color: var(--dark-green);
    }

    & a {
        color: var(--dark-green) !important;
        font-weight: bold;
    }

    & section {
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(0, 0, 0, 0.15);
        height: 100%;
    }
}

h1 {
    font-size: 45px;
    /* font-family: "Cinzel", serif; */
    font-family: "Viora", serif;
}


.navbar {
    /* font-family: "Cinzel", serif; */
    font-family: "Viora", serif;
    white-space: nowrap;
}


/* HOMEPAGE */
.homepic {
    display: flex;
    width: 100%;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex: 1;
}

.main-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90%;
    height: 100%;

    & img {
        display: block;
        /* max-width:230px; */
        max-height: 100vh;
        width: auto;
        height: auto;
        object-fit: cover;
        width: 100%;
        filter: saturate(80%);
    }
}


/* HOMEPAGE */
.homepage {
    position: relative;
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-items: center;
    background-color: #ffffff;
    max-width: 900px;
}

.susan-solo {
    position: absolute;
    right: 56px;
    bottom: 0;
    height: 39%;
    display: flex;
}

.violet-solo {
    position: absolute;
    right: 140px;
    bottom: 0;
    height: 39%;
    display: flex;
}

.chardon-solo {
    position: absolute;
    left: 126px;
    bottom: 0;
    height: 39%;
    display: flex;
}

.bouquet-orange {
    position: absolute;
    left: -40px;
    bottom: 0;
    height: 39%;
    display: flex;
}

.box-link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &:hover {
        color: black;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    & img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    & .title {
        width: 100%;
    }
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 18px;
    
    & .title {
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 5px;
    }
}

.wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 65px;
    height: 80px;
    border-radius: 50px;

    & i {
        color: var(--dark-blue);
    }

    & img {
        max-width: 40px;
    }
}

.title-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin-top: 10px;

    & img {
        max-width: 100px;
    }
}

.bird-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;

    & img {
        max-width: 200px;
    }
}


.accordion-header .accordion-button {
    font-size: 22px !important;
}

.content {
    text-align: justify;
    margin-top: 20px;
    padding: 10px;
    & a {
        color: var(--dark-green) !important;
        font-weight: bold;
    }
}

.list {
    list-style: none;
    margin: 0;

    & li:not(:last-child) {
        margin-bottom: 10px;
    }
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
} */

.content {

    /* & .line:nth-child(1) {
        &::after {    
            width: 100px;
            height: 80px;
            background: url('../images/flowers/black_eyed_susan_bouquet.png') no-repeat;        
            background-size: 100px 80px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    } */
    & .line.cb {
        &::after {
            width: 350px;
            height: 300px;
            background: url('../images/flowers/chardon_bouquet.png') no-repeat;
            background-size: 350px 300px;
            right: 0;
        }
    }

    & .line.bv {
        &::after {
            width: 260px;
            height: 410px;
            background: url('../images/flowers/bouquet_violet.png') no-repeat;
            background-size: 260px 410px;
            left: 65px;
            top: 30px;
        }
    }

    & .line.os {
        &::after {
            width: 220px;
            height: 300px;
            background: url('../images/flowers/fleur_orange_solo.png') no-repeat;
            background-size: 220px 300px;
            right: 0;
            top: -50px;
        }
    }

    & .line.sb {
        &::after {
            width: 300px;
            height: 218px;
            background: url('../images/flowers/black_eyed_susan_bouquet.png') no-repeat;
            background-size: 300px 218px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 20px;
        }
    }
}

.line {
    display: flex;
    margin-bottom: 30px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: inline-block;
        opacity: 0.4;
        z-index: -1;
    }

    &>div:last-child {
        flex: 1;
    }
}

/* LAPTOP SPECIFICITIES !! */

@media screen and (min-width: 600px) {

    /* .main-pic {
        max-width: 50%;
    } */

    .wrapper {
        grid-template-columns: repeat(2, 1fr);

        &.three {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.hide {
    display: none;
}

/* PHONES SPECIFICITIES !! */

@media screen and (max-width: 500px) {
    h1 {
        font-size: 33px;
    }


    .susan-solo {
        position: absolute;
        right: 0;
        height: 39%;
        display: flex;
        width: 50px;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    
    .violet-solo {
        position: absolute;
        right: 10%;
        height: 39%;
        display: flex;
        width: 44px;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    
    .chardon-solo {
        position: absolute;
        left: 20%;
        height: 39%;
        display: flex;
        width: 33px;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    
    .bouquet-orange {
        position: absolute;
        left: 0;
        height: 39%;
        display: flex;
        width: 50px;
        & img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}